Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [4]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

series_from_list = pd.Series(my_list)

print(series_from_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

    Q3. Create a Pandas DataFrame that contains the following data:
                                Name                    Age          Gender
                                Alice                   25            Female
                                Bob                     30            male
                                Claire                  27            Female

Then, print the DataFrame.

In [7]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'male', 'Female'] 
}
df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans) 
In Pandas, a DataFrame and a Series are fundamental data structures, but they differ in their dimensions and structures:

DataFrame:
DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It can be thought of as a table, similar to an Excel spreadsheet or a SQL table.
It consists of rows and columns, where each column can have a unique data type.
DataFrames allow for storing and manipulating data in a structured format, supporting operations like indexing, slicing, merging, and reshaping.
It is a collection of Series that share the same index.


Series:
Series is a one-dimensional labeled array capable of holding data of any type. It can be considered as a single column of a DataFrame.
Each element in a Series is associated with an index, which by default starts from 0 and can be customized.
Series are homogeneous and contain data of the same data type.

In [11]:
import pandas as pd

# Creating a Series
series_data = pd.Series([1, 2, 3, 4, 5])

# Creating a DataFrame
data = {
    'I': [1, 2, 3, 4, 5],
    'II': ['a', 'b', 'c', 'd', 'e']
}
df = pd.DataFrame(data)

print("Series:")
print(series_data)
print("\nDataFrame:")
print(df)

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

DataFrame:
   I II
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Ans)    head() and tail(): These functions display the top or bottom rows of the DataFrame.

    Example: Use df.head() to display the first few rows of a DataFrame for quick data inspection.

    info() and describe(): info() provides a summary of the DataFrame, including data types and null values, while describe() computes summary statistics.

    Example: Using df.describe() to get statistical information like mean, standard deviation, etc., of numerical columns.

    drop() and dropna(): drop() removes specified rows or columns, while dropna() removes rows with missing values.

    Example: Use df.drop('Column_name', axis=1) to drop a column, or df.dropna() to drop rows with missing data.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series: Mutable in nature. Elements within a Series can be modified, added, or deleted after the Series is created.

DataFrame: Also mutable. Columns can be added, removed, or modified in a DataFrame, allowing for changes to the structure and contents of the DataFrame.

Panel: Panels were previously used to handle three-dimensional data in Pandas. However, they are considered deprecated as of Pandas version 0.25.0, and users are encouraged to use other data structures like MultiIndex DataFrames or xarray for handling multi-dimensional data.

Q7. Create a DataFrame using multiple Series. Explain with an example.